*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}


.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    justify-content: center;
    align-items: center;
}

.card{
    width: 70%;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: row;


    
}


.leftbox{
width: 50%;
background-color: rgb(167, 70, 70);
height: 600px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
gap: 80px;
font-size: 1.4rem;
padding: 40px 30px 20px 30px;
overflow: hidden;


}

.rightbox{
width: 50%;
background-color: rgb(57, 56, 56);
height: 600px;


}

.iteam1{
    padding: 20px;
}

.rightbox img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

p,h3{
    color: rgb(251, 251, 251);
}


h3{
    font-size: 40px;
    font: bold;
}

.iteam2 p{
    font-size: 25px;

}

.iteam2{
    padding: 20px;
}




.iteam3{
    display: flex;
    flex-direction: row;
    gap: 80px;
    
}

.st{
    font-size: xx-small;
}


.lt{
    font-size: 35px;
}
